*/#*
*/.*
SymCrypt
*.o
*_t.*
*_u.*
*.pem
*_args.*
*~
*.signed
*.so
1*
2*
junk
keys
*.sh

tls_client_enc
tls_non_enc_client
tls_server_enc
tls_server_enc_mrenclave.h
non_enc_client/tls_non_enc_client
server/enc/tls_server_enc
*.png
README.md
CMakeLists.txt
AttestedTLSREADME.md

venv
*.pyc
__pychache__
config.py